[data-v-0b40fe11] {
    box-sizing: border-box;
}
[data-v-0b40fe11]::-webkit-scrollbar {
    width: 0;
    height: 0;
}
a[data-v-0b40fe11]:hover {
    text-decoration: none;
}
section[data-v-0b40fe11] {
    display: block;
}
input[data-v-0b40fe11] {
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: transparent;
}
.mint-toast[data-v-0b40fe11] {
    background: #555f6d !important;
    border-radius: 0.08rem !important;
    color: #fff !important;
}
.mint-toast span[data-v-0b40fe11] {
    color: #fff;
}
.hr[data-v-0b40fe11] {
    height: 0.4rem;
    background: #000;
}
.pdm[data-v-0b40fe11] {
    padding-bottom: 1.6rem;
}
.pdt[data-v-0b40fe11] {
    padding-top: 1.333333rem;
}
.flex1[data-v-0b40fe11] {
    flex: 1;
}
.pageContainer[data-v-0b40fe11] {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100);
}
.pageContainer .main[data-v-0b40fe11] {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
}
.pageContainer .content[data-v-0b40fe11] {
    flex: 1;
    overflow-y: scroll;
    padding: 0.4rem;
    overscroll-behavior: contain;
}
.main[data-v-0b40fe11] {
    height: calc(var(--vh, 1vh) * 100 - 1.33333rem);
    overflow-y: scroll;
}
.loseRed[data-v-0b40fe11] {
    color: #f2475c !important;
}
.winGreen[data-v-0b40fe11] {
    color: #3fb388 !important;
}
.loseRedBg[data-v-0b40fe11] {
    background: #f2475c !important;
}
.winGreenBg[data-v-0b40fe11] {
    background: #3fb388 !important;
}
.mask[data-v-0b40fe11] {
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.noData img[data-v-0b40fe11] {
    width: 50vw;
}
.noData p[data-v-0b40fe11] {
    color: #fff;
}
@media screen and (min-width: 600px) {
    #app[data-v-0b40fe11],
    body[data-v-0b40fe11] {
        max-width: 16rem;
        margin: 0 auto;
    }
}
#speakSet[data-v-0b40fe11] {
    background: #202630;
}
input.hasStyle[data-v-0b40fe11] {
    border-radius: 0.08rem;
    height: 1.173333rem;
    background: #191f28;
    font-size: 0.4rem;
    color: #4f5867;
    border: 0.026667rem solid #2d363e;
    padding-left: 0.32rem;
}
input.hasStyle[data-v-0b40fe11]:focus {
    border: 0.026667rem solid #f0b90b;
}
.countDown[data-v-0b40fe11] {
    background: #5b5959;
    width: 1.066667rem !important;
    color: #fff;
    display: block;
    padding: 0.08rem 0.133333rem;
    text-align: center !important;
    margin-left: 0.266667rem;
    border-radius: 0.133333rem;
    font-size: 0.346667rem;
}
.commonBtn[data-v-0b40fe11] {
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    align-items: center;
    color: #fff;
    width: 90vw;
    margin: 0.533333rem auto;
    border-radius: 0.133333rem;
    background: #e6c233;
    font-size: 0.426667rem;
}
.check[data-v-0b40fe11] {
    width: 0.373333rem;
    height: 0.213333rem;
    display: block;
    border: 0.053333rem solid #fff;
    border-radius: 0.026667rem;
    border-top: none;
    border-right: none;
    background: transparent;
    transform: rotate(-45deg);
}
.fixTopRight[data-v-0b40fe11] {
    position: fixed;
    right: 0.4rem;
    top: 0;
    z-index: 999;
    height: 1.333333rem;
    line-height: 1.333333rem;
    font-size: 0.426667rem;
}
.mint-spinner-fading-circle[data-v-0b40fe11] {
    margin: 0.266667rem auto !important;
}
.allLoaded[data-v-0b40fe11] {
    color: #4d5565;
    margin: 0 auto;
    padding: 0.266667rem 0;
    display: block;
}
.mint-indicator-wrapper[data-v-0b40fe11] {
    z-index: 999;
}
.actionSheet1[data-v-0b40fe11] {
    background: #181e25;
}
.actionSheet1 .mint-actionsheet-list[data-v-0b40fe11] {
    max-height: 8.666667rem;
    overflow-y: scroll;
    margin-bottom: 0.266667rem !important;
    border-radius: 0.4rem 0.4rem 0 0;
}
.actionSheet1 .mint-actionsheet-list .mint-actionsheet-listitem[data-v-0b40fe11] {
    height: 1.333333rem;
    background: #202630;
    color: #fff;
    border-bottom: 0.026667rem solid rgba(107, 116, 133, 0.2);
}
.actionSheet1 .mint-actionsheet-list .mint-actionsheet-listitem[data-v-0b40fe11]:last-child {
    border-bottom: none;
}
.actionSheet1 .mint-actionsheet-button[data-v-0b40fe11] {
    background: #202630;
    color: #fff;
    height: 1.333333rem;
}
.mint-toast[data-v-0b40fe11] {
    z-index: 2099 !important;
}
.countryList[data-v-0b40fe11] {
    width: 100%;
    min-height: 100%;
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    z-index: 100;
}
.countryList[data-v-0b40fe11]:after {
    position: absolute;
    content: "";
    display: block;
    right: 0;
    top: 50%;
    width: 0.026667rem;
    height: 100%;
    background: #000;
    transform: scaleX(0.5) translateY(-50%);
}
.countryList .countryMain[data-v-0b40fe11] {
    width: 7.466667rem;
}
.countryList .countryMain .mint-cell-text[data-v-0b40fe11] {
    font-size: 0.346667rem;
}
.showCountryList[data-v-0b40fe11] {
    transform: translateX(0);
}
.countryListBox .mint-indexsection-index[data-v-0b40fe11] {
    text-align: left;
    background: #202630;
    color: #fff;
}
.countryListBox .mint-cell-title[data-v-0b40fe11] {
    text-align: left !important;
    color: #000;
}
.confirmOrderBox[data-v-0b40fe11] {
    background-color: #1f2630 !important;
    border-radius: 0.16rem;
    width: 9.2rem;
}
.confirmOrderBox .pHeader[data-v-0b40fe11] {
    height: 1.333333rem;
    line-height: 1.333333rem;
    font-size: 0.426667rem;
    color: #fff;
    position: relative;
}
.confirmOrderBox .pHeader[data-v-0b40fe11]:after {
    position: absolute;
    content: "";
    display: block;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 0.026667rem;
    background: #6b7485;
    transform: scaleY(0.5) translateX(-50%);
}
.confirmOrderBox .pHeader .close-icon[data-v-0b40fe11] {
    font-size: 0.32rem;
    position: absolute;
    right: 0.4rem;
}
.confirmOrderBox .pContent[data-v-0b40fe11] {
    padding: 0.266667rem 0.4rem;
    overflow-y: scroll;
    max-height: 8rem;
    word-break: break-all;
    text-align: center;
}
.confirmOrderBox .pContent .tip[data-v-0b40fe11] {
    font-size: 0.373333rem;
    line-height: 0.533333rem;
    text-align: left;
    color: #fff;
    word-break: break-word;
    margin-bottom: 0.4rem;
}
.confirmOrderBox .pContent .tip span[data-v-0b40fe11]:first-child {
    display: inline-block;
    width: 2rem;
}
.confirmOrderBox .pContent .tip .betMoney[data-v-0b40fe11],
.confirmOrderBox .pContent .tip .issueNo[data-v-0b40fe11],
.confirmOrderBox .pContent .tip span[data-v-0b40fe11]:last-child {
    color: #fff;
}
.confirmOrderBox .pContent .tip .betNum b[data-v-0b40fe11] {
    color: #fcd434;
    margin-right: 0.133333rem;
}
.confirmOrderBox .btnGroup[data-v-0b40fe11] {
    height: 1.066667rem;
    display: flex;
    position: relative;
}
.confirmOrderBox .btnGroup[data-v-0b40fe11]:after {
    position: absolute;
    content: "";
    display: block;
    left: 50%;
    top: 0;
    width: 100%;
    height: 0.026667rem;
    background: #6b7485;
    transform: scaleY(0.5) translateX(-50%);
}
.confirmOrderBox .btnGroup .btn[data-v-0b40fe11] {
    flex: 1;
    height: 100%;
    font-size: 0.426667rem;
    line-height: 1.066667rem;
}
.confirmOrderBox .btnGroup .btn-close[data-v-0b40fe11] {
    color: #858e9d;
    position: relative;
}
.confirmOrderBox .btnGroup .btn-close[data-v-0b40fe11]:after {
    position: absolute;
    content: "";
    display: block;
    right: 0;
    top: 50%;
    width: 0.026667rem;
    height: 100%;
    background: #6b7485;
    transform: scaleX(0.5) translateY(-50%);
}
.confirmOrderBox .btnGroup .btn-submit[data-v-0b40fe11] {
    color: #e6c233;
}
.hideTopMenu_trade_swap[data-v-0b40fe11] {
    position: fixed;
    left: 0;
    top: 2.45333rem;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - 2.45333rem);
    z-index: 222;
}
.hideTopMenu_trade_swap .hidePanel[data-v-0b40fe11] {
    background: #434c5b;
    position: absolute;
    border-radius: 0.133333rem;
    right: 0.4rem;
    top: 0.026667rem;
}
.hideTopMenu_trade_swap .hidePanel[data-v-0b40fe11]:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -0.48rem;
    right: 0.133333rem;
    border: 0.266667rem solid;
    border-color: transparent transparent #434c5b;
}
.hideTopMenu_trade_swap .hidePanel span[data-v-0b40fe11] {
    height: 1.2rem;
    line-height: 1.2rem;
    color: #848e9c;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0.266667rem;
}
.hideTopMenu_trade_swap .hidePanel span[data-v-0b40fe11]:last-child {
    border-bottom: none;
}
.hideTopMenu_trade_swap .hidePanel .e93e[data-v-0b40fe11]:before {
    content: "\e93e";
    font-family: iconfont;
    margin-right: 0.32rem;
}
.hideTopMenu_trade_swap .hidePanel .e957[data-v-0b40fe11]:before {
    content: "\e957";
    font-family: iconfont;
    margin-right: 0.266667rem;
}
.hideTopMenu_trade_swap .hidePanel .e962[data-v-0b40fe11]:before {
    content: "\e96f";
    font-family: iconfont;
    margin-right: 0.266667rem;
    font-size: 0.426667rem;
}
.hideTopMenu_trade_swap .hidePanel .e956[data-v-0b40fe11]:before {
    content: "\e956";
    font-family: iconfont;
    margin-right: 0.266667rem;
    font-size: 0.426667rem;
}
.hideTopMenu_trade_swap .hidePanel .e942[data-v-0b40fe11]:before {
    content: "\e942";
    font-family: iconfont;
    margin-right: 0.266667rem;
    font-size: 0.426667rem;
}
.hideTopMenu_trade_swap .hidePanel .e902[data-v-0b40fe11]:before {
    content: "\e902";
    font-family: iconfont;
    margin-right: 0.266667rem;
    font-size: 0.426667rem;
}
.middlePopBox_entrust[data-v-0b40fe11],
.middlePopBox_gameRecord[data-v-0b40fe11] {
    width: 90vw;
    background: #1f2630;
    border-radius: 0.16rem;
    overflow: hidden;
}
.middlePopBox_entrust .cHeader[data-v-0b40fe11],
.middlePopBox_gameRecord .cHeader[data-v-0b40fe11] {
    height: 1.333333rem;
    line-height: 1.333333rem;
    text-align: center;
    font-size: 0.426667rem;
    color: #fff;
    border-bottom: 0.026667rem solid rgba(107, 116, 133, 0.2);
    position: relative;
}
.middlePopBox_entrust .cHeader .iconfont[data-v-0b40fe11],
.middlePopBox_gameRecord .cHeader .iconfont[data-v-0b40fe11] {
    line-height: 0.373333rem;
    font-size: 0.373333rem;
    position: absolute;
    right: 0.4rem;
    top: 0.32rem;
}
.middlePopBox_entrust .cDoby[data-v-0b40fe11],
.middlePopBox_gameRecord .cDoby[data-v-0b40fe11] {
    padding: 0.266667rem 0;
}
.middlePopBox_entrust .cDoby .cRitem[data-v-0b40fe11],
.middlePopBox_gameRecord .cDoby .cRitem[data-v-0b40fe11] {
    display: flex;
    justify-content: space-between;
    padding: 0.133333rem 0;
}
.middlePopBox_entrust .cDoby .cRitem .cRple[data-v-0b40fe11],
.middlePopBox_gameRecord .cDoby .cRitem .cRple[data-v-0b40fe11] {
    color: #848e9c;
    font-size: 0.32rem;
    line-height: 0.453333rem;
    text-align: left;
}
.middlePopBox_entrust .cDoby .cRitem .cRplr[data-v-0b40fe11],
.middlePopBox_gameRecord .cDoby .cRitem .cRplr[data-v-0b40fe11] {
    font-size: 0.32rem;
    line-height: 0.453333rem;
    color: #fff;
    text-align: right;
    word-break: break-all;
}
.middlePopBox_entrust .cDoby .cRitem .win[data-v-0b40fe11],
.middlePopBox_gameRecord .cDoby .cRitem .win[data-v-0b40fe11] {
    color: #3fb388;
}
.middlePopBox_entrust .cDoby .cRitem .lose[data-v-0b40fe11],
.middlePopBox_gameRecord .cDoby .cRitem .lose[data-v-0b40fe11] {
    color: #f2475c;
}
.middlePopBox_entrust .cDoby .cRitem .cRplr_l[data-v-0b40fe11],
.middlePopBox_gameRecord .cDoby .cRitem .cRplr_l[data-v-0b40fe11] {
    width: calc(100% - 3.73333rem) !important;
}
.middlePopBox_entrust .cDoby .cRitem .cRplr.on[data-v-0b40fe11],
.middlePopBox_gameRecord .cDoby .cRitem .cRplr.on[data-v-0b40fe11] {
    color: #f0b90b;
}
.BTN3[data-v-0b40fe11],
.BTN[data-v-0b40fe11] {
    margin-top: 0.666667rem;
    color: #1c222a;
    text-align: center;
    border-radius: 0.08rem;
    width: 100%;
    background: #e6c233;
    height: 1.173333rem;
    line-height: 1.173333rem;
}
.BTN2[data-v-0b40fe11] {
    width: 9.2rem;
    height: 1.173333rem;
    margin: 0.533333rem auto;
    background-color: #e6c233;
    border-radius: 0.106667rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.373333rem;
    color: #333;
}
.BTN3[data-v-0b40fe11] {
    width: 9.2rem;
    margin: 0.266667rem auto 0.266667rem;
}
.greenCircle[data-v-0b40fe11],
.purpleCircle[data-v-0b40fe11],
.redCircle[data-v-0b40fe11],
.redCircle_sd[data-v-0b40fe11],
.whiteCircle[data-v-0b40fe11],
.whiteCircle_sd[data-v-0b40fe11] {
    width: 0.373333rem !important;
    height: 0.373333rem !important;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.08rem;
    flex: none !important;
}
.redCircle[data-v-0b40fe11],
.redCircle_sd[data-v-0b40fe11] {
    background: #f6465d;
}
.greenCircle[data-v-0b40fe11] {
    background: #2ebd85;
}
.purpleCircle[data-v-0b40fe11] {
    background: #b12ebd;
}
.whiteCircle[data-v-0b40fe11],
.whiteCircle_sd[data-v-0b40fe11] {
    background: #fff;
}
.buble[data-v-0b40fe11] {
    position: fixed;
    left: 50%;
    top: 40%;
    padding: 0.133333rem 0.266667rem;
    background: #000;
    border-radius: 0.08rem;
    color: #fff;
    z-index: 9999;
    width: 6.666667rem;
    text-align: left;
    line-height: 0.64rem;
    transform: translate(-50%, -50%);
}
.buble[data-v-0b40fe11]:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 0.4rem solid transparent;
    border-right: 0.4rem solid #000;
    position: absolute;
    bottom: 50%;
    left: -0.4rem;
    transform: translateX(-50%);
}
.Vip[data-v-0b40fe11] {
    padding: 0.053333rem 0.133333rem;
    font-size: 0.32rem;
    font-weight: 700;
    font-style: italic;
    color: #58300a;
}
.roomVip[data-v-0b40fe11] {
    padding: 0 0.133333rem;
    height: 0.48rem;
    text-align: center;
    line-height: 0.48rem;
    border-radius: 0.08rem;
    color: #fff;
    display: inline-block;
    font-size: 0.32rem;
    margin: 0 0.133333rem;
}
.vip0[data-v-0b40fe11] {
    background: #f0b90b;
}
.icon-VIP1[data-v-0b40fe11],
.icon-VIP2[data-v-0b40fe11],
.icon-VIP3[data-v-0b40fe11],
.icon-VIP4[data-v-0b40fe11],
.icon-VIP5[data-v-0b40fe11],
.icon-VIP6[data-v-0b40fe11],
.icon-VIP7[data-v-0b40fe11],
.icon-VIP8[data-v-0b40fe11],
.icon-VIP9[data-v-0b40fe11] {
    width: 0.693333rem !important;
    height: 0.693333rem !important;
    margin: 0 0.133333rem;
}
.icon-VIP1[data-v-0b40fe11] {
    fill: #969d69 !important;
}
.icon-VIP2[data-v-0b40fe11] {
    fill: #bdbbd3 !important;
}
.icon-VIP3[data-v-0b40fe11] {
    fill: #768ad1 !important;
}
.icon-VIP4[data-v-0b40fe11] {
    fill: #f9d8c5 !important;
}
.icon-VIP5[data-v-0b40fe11] {
    fill: #e8b491 !important;
}
.icon-VIP6[data-v-0b40fe11] {
    fill: #fdd97c !important;
}
.icon-VIP7[data-v-0b40fe11] {
    fill: #ffb700 !important;
}
.icon-VIP8[data-v-0b40fe11] {
    fill: #846fd7 !important;
}
.icon-VIP9[data-v-0b40fe11] {
    fill: #ef6172 !important;
}
.pageStyle[data-v-0b40fe11] {
    height: calc(var(--vh, 1vh) * 100 - 1.33333rem);
    background-color: #171e26;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
}
.fs12[data-v-0b40fe11] {
    font-size: 0.32rem;
}
.fs13[data-v-0b40fe11] {
    font-size: 0.346667rem;
}
.fs14[data-v-0b40fe11],
.fs15[data-v-0b40fe11] {
    font-size: 0.373333rem;
}
.fs16[data-v-0b40fe11] {
    font-size: 0.426667rem;
}
.ellipsis[data-v-0b40fe11] {
    -webkit-line-clamp: 1;
}
.ellipsis2[data-v-0b40fe11],
.ellipsis[data-v-0b40fe11] {
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.ellipsis2[data-v-0b40fe11] {
    -webkit-line-clamp: 2;
}
.ellipsis3[data-v-0b40fe11] {
    -webkit-line-clamp: 3;
}
.ellipsis3[data-v-0b40fe11],
.ellipsis4[data-v-0b40fe11] {
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.ellipsis4[data-v-0b40fe11] {
    -webkit-line-clamp: 4;
}
.canCopy[data-v-0b40fe11] {
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}
[data-v-0b40fe11] .mint-actionsheet-listitem {
    font-size: 0.373333rem;
    line-height: 1.333333rem !important;
    color: #fff;
    padding: 0 0.4rem !important;
}
[data-v-0b40fe11] .mint-actionsheet-button {
    font-size: 0.373333rem;
    color: #4d5565 !important;
}
.input-item .input-label[data-v-0b40fe11] {
    font-size: 0.373333rem;
    line-height: 0.533333rem;
    display: block;
    text-align: left;
    position: relative;
    padding-left: 0.186667rem;
    color: #fff;
}
.input-item .input-label[data-v-0b40fe11]:before {
    content: "";
    width: 0.053333rem;
    height: 0.373333rem;
    border-radius: 0.026667rem;
    background-color: #eac83e;
    position: absolute;
    left: 0;
    top: 0.08rem;
}
.input-item .input-wrap[data-v-0b40fe11] {
    display: flex;
    align-items: center;
    background-color: #1f2630;
    padding: 0.293333rem 0.266667rem;
    border-radius: 0.16rem;
    border: 0.026667rem solid #1f2630;
    margin-top: 0.133333rem;
    margin-bottom: 0.266667rem;
}
.input-item .input-wrap .input[data-v-0b40fe11] {
    flex: 1;
    font-size: 0.373333rem;
    line-height: 0.533333rem;
    color: #fff;
    opacity: 1;
}
.input-item .input-wrap .icon-triangleDown[data-v-0b40fe11] {
    width: 0.266667rem;
    height: 0.266667rem;
}
.filter-wrap[data-v-0b40fe11] {
    width: 1.333333rem;
    height: 1.333333rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.FT_Style[data-v-0b40fe11] {
    width: 0.426667rem !important;
    height: 0.426667rem !important;
    line-height: 0.426667rem !important;
    font-size: 0.32rem !important;
    display: inline-block !important;
    border-radius: 0.08rem !important;
    text-align: center !important;
    margin-left: 0.08rem !important;
    color: #fff !important;
}
.FT_1Style[data-v-0b40fe11] {
    background: #e2cf06;
}
.FT_2Style[data-v-0b40fe11] {
    background: #2794ff;
}
.FT_3Style[data-v-0b40fe11] {
    background: #3c3c3c;
}
.FT_4Style[data-v-0b40fe11] {
    background: #c47816;
}
.FT_5Style[data-v-0b40fe11] {
    background: #08b8d6;
}
.FT_6Style[data-v-0b40fe11] {
    background: #c792ff;
}
.FT_7Style[data-v-0b40fe11] {
    background: #a7a7a7;
}
.FT_8Style[data-v-0b40fe11] {
    background: #f6465d;
}
.FT_9Style[data-v-0b40fe11] {
    background: #c14639;
}
.FT_10Style[data-v-0b40fe11] {
    background: #3fb388;
}
.home-container .headerNav[data-v-0b40fe11] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.213333rem 0.4rem;
    position: fixed;
    left: 0;
    top: 0;
    background: #181e25;
    z-index: 999;
}
.home-container .headerNav .header-img[data-v-0b40fe11] {
    display: block;
    height: 0.8rem;
}
.home-container .headerNav .icon-box[data-v-0b40fe11] {
    font-size: 0.64rem;
}
.home-container .headerNav .icon-box .download-icon[data-v-0b40fe11] {
    margin-right: 0.533333rem;
}
.home-container .headerNav .icon-box .service-icon[data-v-0b40fe11] {
    position: relative;
    margin-left: 0.64rem;
}
.home-container .headerNav .icon-box .service-icon .redDot[data-v-0b40fe11] {
    background: #f6465d;
    width: 0.266667rem;
    height: 0.266667rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: -0.053333rem;
    top: -0.08rem;
}
.home-container .main[data-v-0b40fe11] {
    height: calc(var(--vh, 1vh) * 100 - 1.6rem);
    padding-top: 1.6rem;
}
.home-container .main .swiper-box[data-v-0b40fe11] {
    height: 4.373333rem;
    margin: 0 0.4rem;
}
.home-container .main .swiper-box[data-v-0b40fe11] .mint-swipe {
    border-radius: 0.213333rem;
}
.home-container .main .swiper-box .img-wrap[data-v-0b40fe11] {
    width: 100%;
    height: 4.373333rem;
    overflow: hidden;
    border-radius: 0.213333rem;
}
.home-container .main .swiper-box .img-wrap .img[data-v-0b40fe11] {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.home-container .main .notice[data-v-0b40fe11] {
    padding: 0 0.4rem;
    height: 1.173333rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.home-container .main .notice .notice-container[data-v-0b40fe11] {
    font-size: 0.32rem;
    line-height: 0.453333rem;
    color: #858e9b;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 0.533333rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.home-container .main .notice .notice-container .icon-gonggao[data-v-0b40fe11] {
    display: block;
    flex-shrink: 0;
    width: 0.853333rem;
    height: 0.48rem;
    overflow: hidden;
    z-index: 11;
    text-align: left;
    margin-left: -0.133333rem;
    line-height: 0.533333rem;
    background-color: #171e26;
}
.home-container .main .notice .notice-container .notice-items[data-v-0b40fe11] {
    flex: 1;
    display: flex;
    position: absolute;
    top: 0;
    left: 0.853333rem;
}
.home-container .main .notice .notice-container .notice-items .notice-items-inner[data-v-0b40fe11] {
    width: 100%;
    text-align: left;
}
.home-container .main .notice .notice-container .notice-items .notice-items-inner .noticeTxt .txt[data-v-0b40fe11] {
    white-space: nowrap;
    line-height: 0.533333rem;
}
.home-container .main .notice .icon-gengduo111[data-v-0b40fe11] {
    fill: #848e9c;
    font-size: 0.373333rem;
}
.home-container .main .notice-comprehensive[data-v-0b40fe11] {
    height: 0.906667rem;
    background: #1f2630;
    border-radius: 0.266667rem;
    margin: 0.4rem 0.4rem 0;
}
.home-container .main .notice-comprehensive .icon-gonggao[data-v-0b40fe11] {
    background-color: #1f2630 !important;
}
.home-container .main .myCenter[data-v-0b40fe11] {
    border-top-left-radius: 0.266667rem;
    border-top-right-radius: 0.266667rem;
    background: #1f2630;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.533333rem 0.4rem 0.266667rem 0.4rem;
    border-bottom: 0.026667rem solid #343a46;
}
.home-container .main .myCenter .lItem[data-v-0b40fe11] {
    margin-bottom: 0.266667rem;
    width: 25%;
}
.home-container .main .myCenter .lItem .icon-wrap[data-v-0b40fe11] {
    width: 1.333333rem;
    height: 1.333333rem;
    border-radius: 50%;
    background-image: linear-gradient(#2e353f, #1f2630);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 0.133333rem;
}
.home-container .main .myCenter .lItem .icon-wrap .svg-icon[data-v-0b40fe11] {
    width: 0.613333rem;
    height: 0.613333rem;
}
.home-container .main .myCenter .lItem .t[data-v-0b40fe11] {
    color: #ebecf0;
    font-size: 0.32rem;
    line-height: 0.453333rem;
    white-space: nowrap;
    display: block;
}
.home-container .main .coinList[data-v-0b40fe11] {
    width: auto;
    overflow: hidden;
    height: 3.466667rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background: #1f2630;
}
.home-container .main .coinList .swiper-container[data-v-0b40fe11] {
    height: 4.266667rem;
    padding-top: 0.533333rem;
    width: 100%;
}
.home-container .main .coinList .swiper-container .swiper-pagination-bullets[data-v-0b40fe11] {
    bottom: 0.266667rem;
}
.home-container .main .coinList .wrapBox[data-v-0b40fe11] {
    width: 200%;
    white-space: nowrap;
    display: flex;
    justify-content: flex-start;
    transition: all 0.15s ease-in-out;
}
.home-container .main .coinList .firstBox[data-v-0b40fe11],
.home-container .main .coinList .secondBox[data-v-0b40fe11] {
    display: flex;
    justify-content: space-between;
    padding: 0.533333rem 0.4rem 0;
    width: 100%;
    flex: 1;
}
.home-container .main .coinList .firstBox .coinItem[data-v-0b40fe11],
.home-container .main .coinList .secondBox .coinItem[data-v-0b40fe11] {
    flex: 1;
    text-align: center;
}
.home-container .main .coinList .coinItem .coinName b[data-v-0b40fe11] {
    font-size: 0.32rem;
    color: #848e9d;
}
.home-container .main .coinList .coinItem .coinName b[data-v-0b40fe11]:first-child {
    font-weight: 700;
    color: #fff;
    font-size: 0.426667rem;
}
.home-container .main .coinList .coinItem .nowPrice[data-v-0b40fe11] {
    color: #3fb388;
    font-size: 0.426667rem;
    margin: 0.266667rem 0;
    font-weight: 700;
}
.home-container .main .coinList .coinItem .state[data-v-0b40fe11] {
    display: inline-block;
    color: #3fb388;
    padding: 0.08rem 0.24rem;
}
.home-container .main .coinList .coinItem .CNY[data-v-0b40fe11] {
    margin-top: 0.213333rem;
}
.home-container .main .hotGame[data-v-0b40fe11],
.home-container .main .rank[data-v-0b40fe11] {
    background: #1f2630;
}
.home-container .main .hotGame .header[data-v-0b40fe11],
.home-container .main .rank .header[data-v-0b40fe11] {
    padding: 0 0.4rem;
    width: 100%;
    height: 0.693333rem;
}
.home-container .main .hotGame .header .tabs[data-v-0b40fe11],
.home-container .main .rank .header .tabs[data-v-0b40fe11] {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
}
.home-container .main .hotGame .header .tabs .tab[data-v-0b40fe11],
.home-container .main .rank .header .tabs .tab[data-v-0b40fe11] {
    font-size: 0.32rem;
    line-height: 0.453333rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #858e9d;
    position: relative;
}
.home-container .main .hotGame .header .tabs .tab .tabIcon[data-v-0b40fe11],
.home-container .main .rank .header .tabs .tab .tabIcon[data-v-0b40fe11] {
    width: 0.533333rem;
    height: 0.533333rem;
    margin-right: 0.053333rem;
}
.home-container .main .hotGame .header .tabs .tab.active ins[data-v-0b40fe11],
.home-container .main .rank .header .tabs .tab.active ins[data-v-0b40fe11] {
    color: #fff;
}
.home-container .main .hotGame .header .nav-wrap[data-v-0b40fe11],
.home-container .main .rank .header .nav-wrap[data-v-0b40fe11] {
    margin-top: 0.266667rem;
}
.home-container .main .hotGame .header .nav-wrap .items[data-v-0b40fe11],
.home-container .main .rank .header .nav-wrap .items[data-v-0b40fe11] {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    height: 0.666667rem;
}
.home-container .main .hotGame .header .nav-wrap .items .item[data-v-0b40fe11],
.home-container .main .rank .header .nav-wrap .items .item[data-v-0b40fe11] {
    color: #858e9d;
    line-height: 0.666667rem;
    margin-right: 0.533333rem;
    padding: 0 0.16rem;
}
.home-container .main .hotGame .header .nav-wrap .items .item.active[data-v-0b40fe11],
.home-container .main .rank .header .nav-wrap .items .item.active[data-v-0b40fe11] {
    color: #fff;
    background: #434c5b;
    border-radius: 0.106667rem;
}
.home-container .main .hotGame .title-wrap[data-v-0b40fe11],
.home-container .main .rank .title-wrap[data-v-0b40fe11] {
    padding: 0.533333rem 0 0.266667rem 0;
    margin: 0 0.4rem;
    border-top: 0.026667rem solid rgba(52, 58, 70, 0.5);
}
.home-container .main .hotGame .title-wrap .title[data-v-0b40fe11],
.home-container .main .rank .title-wrap .title[data-v-0b40fe11] {
    display: inline-block;
    font-size: 0.426667rem;
    text-align: center;
    color: #fff;
    line-height: 0.586667rem;
    position: relative;
}
.home-container .main .hotGame .title-wrap .title[data-v-0b40fe11]:after,
.home-container .main .rank .title-wrap .title[data-v-0b40fe11]:after {
    content: "";
    position: absolute;
    left: -0.533333rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.266667rem;
    height: 0.026667rem;
    background-color: #fad93a;
}
.home-container .main .hotGame .title-wrap .title[data-v-0b40fe11]:before,
.home-container .main .rank .title-wrap .title[data-v-0b40fe11]:before {
    content: "";
    position: absolute;
    right: -0.533333rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0.266667rem;
    height: 0.026667rem;
    background-color: #fad93a;
}
.home-container .main .hotGame .rankList .rankItem[data-v-0b40fe11],
.home-container .main .rank .rankList .rankItem[data-v-0b40fe11] {
    padding: 0 0 0 0.4rem;
    height: 1.333333rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.133333rem;
}
.home-container .main .hotGame .rankList .rankItem[data-v-0b40fe11]:last-child,
.home-container .main .rank .rankList .rankItem[data-v-0b40fe11]:last-child {
    margin-bottom: 0;
}
.home-container .main .hotGame .rankList .rankItem .rankNumber[data-v-0b40fe11],
.home-container .main .rank .rankList .rankItem .rankNumber[data-v-0b40fe11] {
    width: 0.533333rem;
    height: 0.533333rem;
    line-height: 0.533333rem;
    display: inline-block;
    color: #fff;
    border-radius: 0.053333rem;
    background: #3fb388;
    text-align: center;
    font-size: 0.426667rem;
    margin-top: 0.16rem;
}
.home-container .main .hotGame .rankList .rankItem .coinInfo[data-v-0b40fe11],
.home-container .main .rank .rankList .rankItem .coinInfo[data-v-0b40fe11] {
    width: 3.2rem;
    margin-left: 0.133333rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.home-container .main .hotGame .rankList .rankItem .coinInfo p[data-v-0b40fe11],
.home-container .main .rank .rankList .rankItem .coinInfo p[data-v-0b40fe11] {
    text-align: left;
}
.home-container .main .hotGame .rankList .rankItem .coinInfo p[data-v-0b40fe11]:first-of-type,
.home-container .main .rank .rankList .rankItem .coinInfo p[data-v-0b40fe11]:first-of-type {
    line-height: 0.533333rem;
    height: 0.533333rem;
    display: flex;
    align-items: center;
}
.home-container .main .hotGame .rankList .rankItem .coinInfo p:first-of-type b[data-v-0b40fe11],
.home-container .main .rank .rankList .rankItem .coinInfo p:first-of-type b[data-v-0b40fe11] {
    font-size: 0.32rem;
    line-height: 0.453333rem;
}
.home-container .main .hotGame .rankList .rankItem .coinInfo p:first-of-type b[data-v-0b40fe11]:first-child,
.home-container .main .rank .rankList .rankItem .coinInfo p:first-of-type b[data-v-0b40fe11]:first-child {
    font-size: 0.426667rem;
    color: #fff;
    line-height: 0.586667rem;
}
.home-container .main .hotGame .rankList .rankItem .coinInfo p[data-v-0b40fe11]:nth-of-type(2),
.home-container .main .rank .rankList .rankItem .coinInfo p[data-v-0b40fe11]:nth-of-type(2) {
    height: 0.48rem;
    line-height: 0.48rem;
    font-size: 0.346667rem;
}
.home-container .main .hotGame .rankList .rankItem .upInfo[data-v-0b40fe11],
.home-container .main .rank .rankList .rankItem .upInfo[data-v-0b40fe11] {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.home-container .main .hotGame .rankList .rankItem .upInfo p[data-v-0b40fe11],
.home-container .main .rank .rankList .rankItem .upInfo p[data-v-0b40fe11] {
    text-align: left;
}
.home-container .main .hotGame .rankList .rankItem .upInfo p[data-v-0b40fe11]:first-of-type,
.home-container .main .rank .rankList .rankItem .upInfo p[data-v-0b40fe11]:first-of-type {
    color: #fff;
    line-height: 0.533333rem;
    height: 0.533333rem;
    font-size: 0.426667rem;
}
.home-container .main .hotGame .rankList .rankItem .upInfo p[data-v-0b40fe11]:nth-of-type(2),
.home-container .main .rank .rankList .rankItem .upInfo p[data-v-0b40fe11]:nth-of-type(2) {
    height: 0.48rem;
    line-height: 0.48rem;
}
.home-container .main .hotGame .rankList .rankItem .upInfo .upPercent[data-v-0b40fe11],
.home-container .main .rank .rankList .rankItem .upInfo .upPercent[data-v-0b40fe11] {
    color: #fff;
    text-align: center;
    width: 1.76rem;
    border-radius: 0.053333rem;
    height: 0.693333rem;
    line-height: 0.693333rem;
    font-size: 0.32rem;
    margin-left: 0.666667rem;
    margin-right: 0.4rem;
}
.home-container .main .hotGame .rankList .rankItem .greenBg[data-v-0b40fe11],
.home-container .main .rank .rankList .rankItem .greenBg[data-v-0b40fe11] {
    background-image: linear-gradient(270deg, rgba(16, 187, 160, 0.1), rgba(31, 38, 48, 0.13));
}
.home-container .main .hotGame .rankList .rankItem .redBg[data-v-0b40fe11],
.home-container .main .rank .rankList .rankItem .redBg[data-v-0b40fe11] {
    background-image: linear-gradient(270deg, rgba(246, 70, 93, 0.13), rgba(31, 38, 48, 0.1));
}
.home-container .main .hotGame .gameList[data-v-0b40fe11],
.home-container .main .rank .gameList[data-v-0b40fe11] {
    margin: 0 0.4rem !important;
}
.home-container .main .our[data-v-0b40fe11] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 0.853333rem;
}
.home-container .main .our .icon-wrap[data-v-0b40fe11] {
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    text-align: center;
}
.home-container .main .our .icon-wrap .svg-icon[data-v-0b40fe11] {
    margin-right: 0.133333rem;
    position: relative;
    top: 0.026667rem;
}
.icon-download[data-v-0b40fe11],
.icon-tips[data-v-0b40fe11] {
    width: 0.533333rem;
    height: 0.533333rem;
}
.safariTip[data-v-0b40fe11] {
    background: rgba(0, 0, 0, 0.8705882352941177);
    width: 70vw;
    position: fixed;
    left: 50%;
    bottom: 0.4rem;
    transform: translateX(-50%);
    z-index: 9999;
    border-radius: 0.213333rem;
}
.safariTip .icon-close[data-v-0b40fe11] {
    padding: 0.266667rem;
    box-sizing: content-box;
}
.safariTip > div[data-v-0b40fe11],
.safariTip > p[data-v-0b40fe11] {
    color: #fff;
}
.safariTip > p[data-v-0b40fe11] {
    text-align: right;
}
.safariTip > div[data-v-0b40fe11] {
    padding: 0 0.4rem 0.4rem;
    position: relative;
}
.safariTip > div p[data-v-0b40fe11] {
    line-height: 0.666667rem;
}
.safariTip span.arrowDown[data-v-0b40fe11] {
    display: block;
    border-radius: 0.106667rem;
    width: 0;
    height: 0;
    border: 0.32rem solid transparent;
    border-top: 0.32rem solid rgba(0, 0, 0, 0.870588);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -0.64rem;
}
.slide-enter-active[data-v-0b40fe11] {
    transition: all 0.5s ease;
}
.slide-enter[data-v-0b40fe11] {
    transform: translate3d(0, 100%, 0);
}
.slide-leave-to[data-v-0b40fe11] {
    transform: translate3d(0, -100%, 0);
}
.routeList[data-v-0b40fe11] {
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #202630;
    margin-top: 0.4rem;
}
.routeList .routeLink[data-v-0b40fe11] {
    width: 4.4rem;
    height: 1.333333rem;
    background: linear-gradient(90deg, #444b55, #2f3743);
    border-radius: 0.133333rem;
    display: flex;
    align-items: center;
    position: relative;
}
.routeList .routeLink .bg[data-v-0b40fe11] {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.493333rem;
    height: 1.333333rem;
}
.routeList .routeLink > span[data-v-0b40fe11] {
    padding-left: 0.533333rem;
    font-size: 0.533333rem;
    color: #f0b90b;
}
.routeList .routeLink .routeTit[data-v-0b40fe11] {
    color: #fff;
    font-size: 0.373333rem;
    margin-left: 0.266667rem;
}
.cSection[data-v-0b40fe11] {
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
}
.cSection > div[data-v-0b40fe11]:first-child {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.453333rem 0.533333rem;
}
.cSection > div:first-child > p[data-v-0b40fe11] {
    width: 100%;
    text-align: left;
}
.cSection .serviceCenter[data-v-0b40fe11] {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.cSection .serviceCenter > div[data-v-0b40fe11] {
    width: 100%;
    height: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.4rem;
}
.cSection .serviceCenter > div[data-v-0b40fe11]:first-child {
    position: relative;
}
.cSection .serviceCenter > div[data-v-0b40fe11]:first-child:after {
    position: absolute;
    content: "";
    display: block;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 0.026667rem;
    background: #000;
    transform: scaleY(0.5) translateX(-50%);
}
.cSection .serviceCenter > div > p[data-v-0b40fe11] {
    font-size: 0.373333rem;
    color: #fff;
    height: 1.2rem;
    line-height: 1.2rem;
    padding-left: 0.533333rem;
    text-align: left;
}
.cSection .serviceCenter > div .iconfont[data-v-0b40fe11] {
    color: #fff;
}
* {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
a:hover {
    text-decoration: none;
}
section {
    display: block;
}
input {
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: transparent;
}
.mint-toast {
    background: #555f6d !important;
    border-radius: 0.08rem !important;
    color: #fff !important;
}
.mint-toast span {
    color: #fff;
}
.hr {
    height: 0.4rem;
    background: #000;
}
.pdm {
    padding-bottom: 1.6rem;
}
.pdt {
    padding-top: 1.333333rem;
}
.flex1 {
    flex: 1;
}
.pageContainer {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100);
}
.pageContainer .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
}
.pageContainer .content {
    flex: 1;
    overflow-y: scroll;
    padding: 0.4rem;
    overscroll-behavior: contain;
}
.main {
    height: calc(var(--vh, 1vh) * 100 - 1.33333rem);
    overflow-y: scroll;
}
.loseRed {
    color: #f2475c !important;
}
.winGreen {
    color: #3fb388 !important;
}
.loseRedBg {
    background: #f2475c !important;
}
.winGreenBg {
    background: #3fb388 !important;
}
.mask {
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.noData img {
    width: 50vw;
}
.noData p {
    color: #fff;
}
@media screen and (min-width: 600px) {
    #app,
    body {
        max-width: 16rem;
        margin: 0 auto;
    }
}
#speakSet {
    background: #202630;
}
input.hasStyle {
    border-radius: 0.08rem;
    height: 1.173333rem;
    background: #191f28;
    font-size: 0.4rem;
    color: #4f5867;
    border: 0.026667rem solid #2d363e;
    padding-left: 0.32rem;
}
input.hasStyle:focus {
    border: 0.026667rem solid #f0b90b;
}
.countDown {
    background: #5b5959;
    width: 1.066667rem !important;
    display: block;
    padding: 0.08rem 0.133333rem;
    text-align: center !important;
    margin-left: 0.266667rem;
    font-size: 0.346667rem;
}
.commonBtn,
.countDown {
    color: #fff;
    border-radius: 0.133333rem;
}
.commonBtn {
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    align-items: center;
    width: 90vw;
    margin: 0.533333rem auto;
    background: #e6c233;
    font-size: 0.426667rem;
}
.check {
    width: 0.373333rem;
    height: 0.213333rem;
    display: block;
    border: 0.053333rem solid #fff;
    border-radius: 0.026667rem;
    border-top: none;
    border-right: none;
    background: transparent;
    transform: rotate(-45deg);
}
.fixTopRight {
    position: fixed;
    right: 0.4rem;
    top: 0;
    z-index: 999;
    height: 1.333333rem;
    line-height: 1.333333rem;
    font-size: 0.426667rem;
}
.mint-spinner-fading-circle {
    margin: 0.266667rem auto !important;
}
.allLoaded {
    color: #4d5565;
    margin: 0 auto;
    padding: 0.266667rem 0;
    display: block;
}
.mint-indicator-wrapper {
    z-index: 999;
}
.actionSheet1 {
    background: #181e25;
}
.actionSheet1 .mint-actionsheet-list {
    max-height: 8.666667rem;
    overflow-y: scroll;
    margin-bottom: 0.266667rem !important;
    border-radius: 0.4rem 0.4rem 0 0;
}
.actionSheet1 .mint-actionsheet-list .mint-actionsheet-listitem {
    height: 1.333333rem;
    background: #202630;
    color: #fff;
    border-bottom: 0.026667rem solid rgba(107, 116, 133, 0.2);
}
.actionSheet1 .mint-actionsheet-list .mint-actionsheet-listitem:last-child {
    border-bottom: none;
}
.actionSheet1 .mint-actionsheet-button {
    background: #202630;
    color: #fff;
    height: 1.333333rem;
}
.mint-toast {
    z-index: 2099 !important;
}
.countryList {
    width: 100%;
    min-height: 100%;
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    z-index: 100;
}
.countryList:after {
    position: absolute;
    content: "";
    display: block;
    right: 0;
    top: 50%;
    width: 0.026667rem;
    height: 100%;
    background: #000;
    transform: scaleX(0.5) translateY(-50%);
}
.countryList .countryMain {
    width: 7.466667rem;
}
.countryList .countryMain .mint-cell-text {
    font-size: 0.346667rem;
}
.showCountryList {
    transform: translateX(0);
}
.countryListBox .mint-indexsection-index {
    text-align: left;
    background: #202630;
    color: #fff;
}
.countryListBox .mint-cell-title {
    text-align: left !important;
    color: #000;
}
.confirmOrderBox {
    background-color: #1f2630 !important;
    border-radius: 0.16rem;
    width: 9.2rem;
}
.confirmOrderBox .pHeader {
    height: 1.333333rem;
    line-height: 1.333333rem;
    font-size: 0.426667rem;
    color: #fff;
    position: relative;
}
.confirmOrderBox .pHeader:after {
    position: absolute;
    content: "";
    display: block;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 0.026667rem;
    background: #6b7485;
    transform: scaleY(0.5) translateX(-50%);
}
.confirmOrderBox .pHeader .close-icon {
    font-size: 0.32rem;
    position: absolute;
    right: 0.4rem;
}
.confirmOrderBox .pContent {
    padding: 0.266667rem 0.4rem;
    overflow-y: scroll;
    max-height: 8rem;
    word-break: break-all;
    text-align: center;
}
.confirmOrderBox .pContent .tip {
    font-size: 0.373333rem;
    line-height: 0.533333rem;
    text-align: left;
    color: #fff;
    word-break: break-word;
    margin-bottom: 0.4rem;
}
.confirmOrderBox .pContent .tip span:first-child {
    display: inline-block;
    width: 2rem;
}
.confirmOrderBox .pContent .tip .betMoney,
.confirmOrderBox .pContent .tip .issueNo,
.confirmOrderBox .pContent .tip span:last-child {
    color: #fff;
}
.confirmOrderBox .pContent .tip .betNum b {
    color: #fcd434;
    margin-right: 0.133333rem;
}
.confirmOrderBox .btnGroup {
    height: 1.066667rem;
    display: flex;
    position: relative;
}
.confirmOrderBox .btnGroup:after {
    position: absolute;
    content: "";
    display: block;
    left: 50%;
    top: 0;
    width: 100%;
    height: 0.026667rem;
    background: #6b7485;
    transform: scaleY(0.5) translateX(-50%);
}
.confirmOrderBox .btnGroup .btn {
    flex: 1;
    height: 100%;
    font-size: 0.426667rem;
    line-height: 1.066667rem;
}
.confirmOrderBox .btnGroup .btn-close {
    color: #858e9d;
    position: relative;
}
.confirmOrderBox .btnGroup .btn-close:after {
    position: absolute;
    content: "";
    display: block;
    right: 0;
    top: 50%;
    width: 0.026667rem;
    height: 100%;
    background: #6b7485;
    transform: scaleX(0.5) translateY(-50%);
}
.confirmOrderBox .btnGroup .btn-submit {
    color: #e6c233;
}
.hideTopMenu_trade_swap {
    position: fixed;
    left: 0;
    top: 2.45333rem;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - 2.45333rem);
    z-index: 222;
}
.hideTopMenu_trade_swap .hidePanel {
    background: #434c5b;
    position: absolute;
    border-radius: 0.133333rem;
    right: 0.4rem;
    top: 0.026667rem;
}
.hideTopMenu_trade_swap .hidePanel:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -0.48rem;
    right: 0.133333rem;
    border: 0.266667rem solid;
    border-color: transparent transparent #434c5b;
}
.hideTopMenu_trade_swap .hidePanel span {
    height: 1.2rem;
    line-height: 1.2rem;
    color: #848e9c;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0.266667rem;
}
.hideTopMenu_trade_swap .hidePanel span:last-child {
    border-bottom: none;
}
.hideTopMenu_trade_swap .hidePanel .e93e:before {
    content: "\e93e";
    font-family: iconfont;
    margin-right: 0.32rem;
}
.hideTopMenu_trade_swap .hidePanel .e957:before {
    content: "\e957";
    font-family: iconfont;
    margin-right: 0.266667rem;
}
.hideTopMenu_trade_swap .hidePanel .e962:before {
    content: "\e96f";
    font-family: iconfont;
    margin-right: 0.266667rem;
    font-size: 0.426667rem;
}
.hideTopMenu_trade_swap .hidePanel .e956:before {
    content: "\e956";
    font-family: iconfont;
    margin-right: 0.266667rem;
    font-size: 0.426667rem;
}
.hideTopMenu_trade_swap .hidePanel .e942:before {
    content: "\e942";
    font-family: iconfont;
    margin-right: 0.266667rem;
    font-size: 0.426667rem;
}
.hideTopMenu_trade_swap .hidePanel .e902:before {
    content: "\e902";
    font-family: iconfont;
    margin-right: 0.266667rem;
    font-size: 0.426667rem;
}
.middlePopBox_entrust,
.middlePopBox_gameRecord {
    width: 90vw;
    background: #1f2630;
    border-radius: 0.16rem;
    overflow: hidden;
}
.middlePopBox_entrust .cHeader,
.middlePopBox_gameRecord .cHeader {
    height: 1.333333rem;
    line-height: 1.333333rem;
    text-align: center;
    font-size: 0.426667rem;
    color: #fff;
    border-bottom: 0.026667rem solid rgba(107, 116, 133, 0.2);
    position: relative;
}
.middlePopBox_entrust .cHeader .iconfont,
.middlePopBox_gameRecord .cHeader .iconfont {
    line-height: 0.373333rem;
    font-size: 0.373333rem;
    position: absolute;
    right: 0.4rem;
    top: 0.32rem;
}
.middlePopBox_entrust .cDoby,
.middlePopBox_gameRecord .cDoby {
    padding: 0.266667rem 0;
}
.middlePopBox_entrust .cDoby .cRitem,
.middlePopBox_gameRecord .cDoby .cRitem {
    display: flex;
    justify-content: space-between;
    padding: 0.133333rem 0;
}
.middlePopBox_entrust .cDoby .cRitem .cRple,
.middlePopBox_gameRecord .cDoby .cRitem .cRple {
    color: #848e9c;
    font-size: 0.32rem;
    line-height: 0.453333rem;
    text-align: left;
}
.middlePopBox_entrust .cDoby .cRitem .cRplr,
.middlePopBox_gameRecord .cDoby .cRitem .cRplr {
    font-size: 0.32rem;
    line-height: 0.453333rem;
    color: #fff;
    text-align: right;
    word-break: break-all;
}
.middlePopBox_entrust .cDoby .cRitem .win,
.middlePopBox_gameRecord .cDoby .cRitem .win {
    color: #3fb388;
}
.middlePopBox_entrust .cDoby .cRitem .lose,
.middlePopBox_gameRecord .cDoby .cRitem .lose {
    color: #f2475c;
}
.middlePopBox_entrust .cDoby .cRitem .cRplr_l,
.middlePopBox_gameRecord .cDoby .cRitem .cRplr_l {
    width: calc(100% - 3.73333rem) !important;
}
.middlePopBox_entrust .cDoby .cRitem .cRplr.on,
.middlePopBox_gameRecord .cDoby .cRitem .cRplr.on {
    color: #f0b90b;
}
.BTN,
.BTN3 {
    margin-top: 0.666667rem;
    color: #1c222a;
    border-radius: 0.08rem;
    width: 100%;
    background: #e6c233;
    line-height: 1.173333rem;
}
.BTN,
.BTN2,
.BTN3 {
    text-align: center;
    height: 1.173333rem;
}
.BTN2 {
    margin: 0.533333rem auto;
    background-color: #e6c233;
    border-radius: 0.106667rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.373333rem;
    color: #333;
}
.BTN2,
.BTN3 {
    width: 9.2rem;
}
.BTN3 {
    margin: 0.266667rem auto 0.266667rem;
}
.greenCircle,
.purpleCircle,
.redCircle,
.redCircle_sd,
.whiteCircle,
.whiteCircle_sd {
    width: 0.373333rem !important;
    height: 0.373333rem !important;
    border-radius: 50%;
    display: inline-block;
    margin: 0 0.08rem;
    flex: none !important;
}
.redCircle,
.redCircle_sd {
    background: #f6465d;
}
.greenCircle {
    background: #2ebd85;
}
.purpleCircle {
    background: #b12ebd;
}
.whiteCircle,
.whiteCircle_sd {
    background: #fff;
}
.buble {
    position: fixed;
    left: 50%;
    top: 40%;
    padding: 0.133333rem 0.266667rem;
    background: #000;
    border-radius: 0.08rem;
    color: #fff;
    z-index: 9999;
    width: 6.666667rem;
    text-align: left;
    line-height: 0.64rem;
    transform: translate(-50%, -50%);
}
.buble:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 0.4rem solid transparent;
    border-right: 0.4rem solid #000;
    position: absolute;
    bottom: 50%;
    left: -0.4rem;
    transform: translateX(-50%);
}
.Vip {
    padding: 0.053333rem 0.133333rem;
    font-weight: 700;
    font-style: italic;
    color: #58300a;
}
.roomVip,
.Vip {
    font-size: 0.32rem;
}
.roomVip {
    padding: 0 0.133333rem;
    height: 0.48rem;
    text-align: center;
    line-height: 0.48rem;
    border-radius: 0.08rem;
    color: #fff;
    display: inline-block;
    margin: 0 0.133333rem;
}
.vip0 {
    background: #f0b90b;
}
.icon-VIP1,
.icon-VIP2,
.icon-VIP3,
.icon-VIP4,
.icon-VIP5,
.icon-VIP6,
.icon-VIP7,
.icon-VIP8,
.icon-VIP9 {
    width: 0.693333rem !important;
    height: 0.693333rem !important;
    margin: 0 0.133333rem;
}
.icon-VIP1 {
    fill: #969d69 !important;
}
.icon-VIP2 {
    fill: #bdbbd3 !important;
}
.icon-VIP3 {
    fill: #768ad1 !important;
}
.icon-VIP4 {
    fill: #f9d8c5 !important;
}
.icon-VIP5 {
    fill: #e8b491 !important;
}
.icon-VIP6 {
    fill: #fdd97c !important;
}
.icon-VIP7 {
    fill: #ffb700 !important;
}
.icon-VIP8 {
    fill: #846fd7 !important;
}
.icon-VIP9 {
    fill: #ef6172 !important;
}
.pageStyle {
    height: calc(var(--vh, 1vh) * 100 - 1.33333rem);
    background-color: #171e26;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
}
.fs12 {
    font-size: 0.32rem;
}
.fs13 {
    font-size: 0.346667rem;
}
.fs14,
.fs15 {
    font-size: 0.373333rem;
}
.fs16 {
    font-size: 0.426667rem;
}
.ellipsis {
    -webkit-line-clamp: 1;
}
.ellipsis,
.ellipsis2 {
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.ellipsis2 {
    -webkit-line-clamp: 2;
}
.ellipsis3 {
    -webkit-line-clamp: 3;
}
.ellipsis3,
.ellipsis4 {
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.ellipsis4 {
    -webkit-line-clamp: 4;
}
.canCopy {
    -webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}
/deep/.mint-actionsheet-listitem {
    font-size: 0.373333rem;
    line-height: 1.333333rem !important;
    color: #fff;
    padding: 0 0.4rem !important;
}
/deep/.mint-actionsheet-button {
    font-size: 0.373333rem;
    color: #4d5565 !important;
}
.input-item .input-label {
    font-size: 0.373333rem;
    line-height: 0.533333rem;
    display: block;
    text-align: left;
    position: relative;
    padding-left: 0.186667rem;
    color: #fff;
}
.input-item .input-label:before {
    content: "";
    width: 0.053333rem;
    height: 0.373333rem;
    border-radius: 0.026667rem;
    background-color: #eac83e;
    position: absolute;
    left: 0;
    top: 0.08rem;
}
.input-item .input-wrap {
    display: flex;
    align-items: center;
    background-color: #1f2630;
    padding: 0.293333rem 0.266667rem;
    border-radius: 0.16rem;
    border: 0.026667rem solid #1f2630;
    margin-top: 0.133333rem;
    margin-bottom: 0.266667rem;
}
.input-item .input-wrap .input {
    flex: 1;
    font-size: 0.373333rem;
    line-height: 0.533333rem;
    color: #fff;
    opacity: 1;
}
.input-item .input-wrap .icon-triangleDown {
    width: 0.266667rem;
    height: 0.266667rem;
}
.filter-wrap {
    width: 1.333333rem;
    height: 1.333333rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.FT_Style {
    width: 0.426667rem !important;
    height: 0.426667rem !important;
    line-height: 0.426667rem !important;
    font-size: 0.32rem !important;
    display: inline-block !important;
    border-radius: 0.08rem !important;
    text-align: center !important;
    margin-left: 0.08rem !important;
    color: #fff !important;
}
.FT_1Style {
    background: #e2cf06;
}
.FT_2Style {
    background: #2794ff;
}
.FT_3Style {
    background: #3c3c3c;
}
.FT_4Style {
    background: #c47816;
}
.FT_5Style {
    background: #08b8d6;
}
.FT_6Style {
    background: #c792ff;
}
.FT_7Style {
    background: #a7a7a7;
}
.FT_8Style {
    background: #f6465d;
}
.FT_9Style {
    background: #c14639;
}
.FT_10Style {
    background: #3fb388;
}
.mint-swipe-indicators {
    bottom: 0.133333rem !important;
}
.mint-swipe-indicators .is-active {
    background-color: #fad93a !important;
}
.coinList .mint-swipe-indicator {
    width: 0.266667rem;
    height: 0.053333rem;
    background: #848e9d;
    margin: 0 0.053333rem;
    border-radius: 0.026667rem;
    opacity: 1;
}
.e952 img,
.e968 img {
    width: 0.746667rem;
}
.e952 img {
    margin-top: 0.08rem;
}
.listMenu {
    display: flex;
    justify-content: space-around;
    background: #202630;
    padding: 0.426667rem 0;
}
.listMenu p > span:not(.iconfont) {
    color: #fefefe;
}
.listMenu p:first-child {
    margin-bottom: 0.106667rem;
}
.listMenu .lItem img {
    width: 0.746667rem;
    height: 0.746667rem;
}
